body{
    margin: 0%;

    padding: 15%;
    background-color: black;
}
section{
    size: 100% 100%;
}










































a{
    text-align: center;
    color: antiquewhite;
}

.btn{
    white-space: 2px;
}
.gradient-custom{
    background:#6a11cb;
    }
    
    
