<nav class="navbar navbar-expand-lg bg-success navbar-dark py-3 fixed-top">
    <div class="container">
        <!-- <a href="#" class="navbar-brand">Patient Admin Portal</a> -->
        
        <button class="navbar-toggler" 
                type="button" 
                 data-bs-toggle="collapse"
                 data-bs-target=".navmenu-collapse">
                 <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="nav navbar-nav text-uppercase">
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a routerLink="/home" routerLinkActive="active" *ngIf="isAuthenticated" class="nav-link">Home</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a routerLink="/portal/Enroll" routerLinkActive="active" *ngIf="isAuthenticated" class="nav-link">Enroll</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a routerLink="/portal/Process" routerLinkActive="active" *ngIf="isAuthenticated" class="nav-link">Process</a>
                </li>
            
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item text-white" *ngIf="isAuthenticated" ><a aria-disabled="true" class="nav-link">
                    {{username}}</a>
            </li>
            <button class="nav-item rounded-pill py-0 pt-0 my-0 bg-danger" *ngIf="isAuthenticated" (click)="onLogout()"><a class="nav-link">
                Logout</a>
            </button>
                

            </ul>
        </div>
    </div>  
</nav><br><br><br>
<section class="vh-100 gradient-custom h-200">
    <div class="container py-5 h-200 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <header ><h1 class="text-center">Update Patient Details</h1></header>
                <div class="card bg-dark text-white text-center" style="border-radius:1 rem;">
                     <div class="mb-md-1 mt-md-4 pb-5 login-for">
                        <!-- <h2 class="text-uppercase fw-bold mb-2 text-center"></h2> -->
                        <div class=" inputfield">
                            <h4>Enter patient Name</h4>
                            <br>
                            <input type="text" name="patientName" #patientName id="patientName" placeholder="Enter patient name" [(ngModel)]="patientname" required >

                            <br>
                            <br>
                        <button class="btn btn-primary" (click)="retrieve(patientName)"  >Find</button>
                        <span *ngIf="patientName.required"></span>
                        </div>
                        <form *ngIf="formactive && patient.patientName==patientname" #f="ngForm" (ngSubmit)="updateDetails(f)" class="update-form" >
                            <div class="form-group" >
                                <label for="address">Address</label>
                                <textarea rows="4" cols="10"
                                class="form-control" 
                                name="address" 
                                required
                                [(ngModel)]="patient.patientAddress"
                                #address="ngModel"
                                value="{{patient.patientAddress}}"></textarea>
                            </div>
                            <span *ngIf="address.touched && !address.valid" style="color: red">Please Enter your address</span>    
            
                            <div class="form-group">
                                <label for="dateofbirth">Data of Birth</label>
                                <input type="text" 
                                class="form-control" 
                                name="dateofbirth" 
                                
                                [(ngModel)]="patient.dateofbirth"
                                #dateofbirth="ngModel"
                                required
                                value="{{patient.dateofbirth}}" />
                                
                            </div>
                            <span *ngIf="dateofbirth.touched && !dateofbirth.valid" style="color: red">Please Enter your date of birth</span>    
            
                            <div class="form-group">
                                <label for="emailid">Email Id</label>
                                <input type="email" 
                                class="form-control" 
                                name="emailid"
                            
                                [(ngModel)]="patient.patientEmail"
                                #emailid="ngModel"
                                value="{{patient.patientEmail}}"
                                required />
                            </div>
                            <span *ngIf="emailid.touched && !emailid.valid" style="color: red">Please Enter your emailid</span>    
            
                            <div class="form-group">
                                <label for="phonenumber">Mobile Number</label>
                                <input type="number" 
                                class="form-control" 
                                name="phonenumber" 
                                [(ngModel)]="patient.contactNumber"
                                required

                                pattern="[789][0-9]{9}"
                                value="{{patient.contactNumber}}"
                               
                                #phonenumber="ngModel"
                    />
                  </div>
                  <!-- <span *ngIf="phonenumber.errors" style="color: red">Phone number is required</span>     -->
            

                  <span *ngIf="phonenumber.touched&& !phonenumber.valid" style="color: red">Enter valid phone number</span>    
            
                            <div class="form-group">
                                <label for="drugid">Drug Id</label>
                                <input type="text" 
                                class="form-control" 
                                name="drugid"
                                disabled="true"
                                [(ngModel)]="patient.drugId"
                                #drugId="ngModel"
                                
                                value="{{patient.drugId}}"/>
                            </div>
                            <div class="form-group">
                                <label for="drugname">Drug Name</label>
                                <input type="text" 
                                class="form-control" 
                                name="drugname" 
                                disabled="true"
                                [(ngModel)]="patient.drugName"
                                #drugName="ngModel"
                                value="{{patient.drugName}}"/>
                            </div>
                            <br>
                        <button type="submit" class="bt btn-success" [disabled]="!f.valid">Update</button>
                        </form>
                        <!-- <div class="alert alert-warning" *ngIf="Updatesuccess">Data is successfully updated</div> -->
                        <span  class="alert alert-success alert-dismissible fade show" role="alert"  *ngIf="Updatesuccess" style="height:5px,margin-left">
                            <strong style="color:green;">Data is successfully updated</strong>
                            <button (click)="removesuccessmessage1()" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </span>
             <!--          <div class="alert alert-warning" *ngIf="setactive && data==false && patientname!=patient.patientName">No data found</div> -->
                        <span  class="alert alert-warning alert-dismissible fade show" role="alert"  *ngIf="setactive && data==false  && patientname!=patient.patientName" style="height:5px,margin-left">
                            <strong style="color:Red;">No Data Found</strong>
                            <button (click)="removesuccessmessage2()" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </span>

                    
                       
                       
                        <!-- <ng-template #second>
                            <div class="alert alert-warning" *ngIf="setactive">No data found</div>

                        </ng-template> -->
                        <!-- <div class="alert alert-warning" *ngIf="processed">Data is already processed</div> -->
                        <span  class="alert alert-warning alert-dismissible fade show" role="alert"  *ngIf="processed" style="height:5px,margin-left">
                        <strong style="color:green;">Data is already Processed</strong>
                        <button (click)="removesuccessmessage()" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </span>
                     
                        
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>







































<!-- 
<div class="back update-form">
    <div class="container inputfield">
        <h1>Update Details</h1>
        <h4>Enter patient Name</h4>
        <input type="text" name="patientName" #patientName id="patientName" placeholder="Enter patient name" [(ngModel)]="patientname" required >
        <br>
        <button class="btn btn-primary" (click)="retrieve(patientName)">Find</button>
    </div>
    <form *ngIf="setactive" #f="ngForm" (ngSubmit)="updateDetails(f)" >
        <div class="form-group">
            <label for="address">Address</label>
            <textarea rows="4" cols="10"
            class="form-control" 
            name="address" 
            required
            [(ngModel)]="patient.patientAddress"
            #address="ngModel"
            value="{{patient.patientAddress}}"></textarea>
        </div>
        <div class="form-group">
            <label for="dateofbirth">DOB</label>
            <input type="text" 
            class="form-control" 
            name="dateofbirth" 
            required
            [(ngModel)]="patient.dateofbirth"
            #dateofbirth="ngModel" value="{{patient.dateofbirth}}">
        </div>
        <div class="form-group">
            <label for="emailid">Email Id</label>
            <input type="email" 
            class="form-control" 
            name="emailid"
            required
            [(ngModel)]="patient.patientEmail"
            #emailid="ngModel"
            value="{{patient.patientEmail}}">
        </div>
        <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="number" 
            class="form-control" 
            name="phonenumber" 
            min="10"
            max="10"
            required
            [(ngModel)]="patient.contactNumber"
            #phonenumber="ngModel"
            value="{{patient.contactNumber}}">
        </div>

        <div class="form-group">
            <label for="drugid">Drug Id</label>
            <input type="text" 
            class="form-control" 
            name="drugid"
            disabled="true"
            [(ngModel)]="patient.drugId"
            #drugId="ngModel"
            value="{{patient.drugId}}">
        </div>
        <div class="form-group">
            <label for="drugname">Drug Name</label>
            <input type="text" 
            class="form-control" 
            name="drugname" 
            disabled="true"
            [(ngModel)]="patient.drugName"
            #drugName="ngModel"
            value="{{patient.drugName}}">
        </div>
        <button class="submit" >Update</button>



    </form>
</div> -->